.container {
  width: var(--container-width);
  margin: auto;
}

.orange {
  color: #ffa234;
}

.purple {
  color: #a951ed;
}

.red {
  color: #f04546;
}

.slate {
  color: #2e3d49;
}

.blue {
  color: #02b3e4;
}
