@import './variable.css';
@import './common.css';
@import './Navigation.css';
@import './coupons.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--body-color);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
  height: 660px;
  margin: 0px;
  padding: 0.1px 0px;
}

header::before {
  content: '';
  position: absolute;
  background: rgb(35, 204, 186);
  background: -moz-linear-gradient(
    90deg,
    rgba(35, 204, 186, 1) 0%,
    rgba(139, 140, 201, 1) 80%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(35, 204, 186, 1) 0%,
    rgba(139, 140, 201, 1) 80%
  );
  background: linear-gradient(
    90deg,
    rgba(35, 204, 186, 1) 0%,
    rgba(139, 140, 201, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23ccba",endColorstr="#8b8cc9",GradientType=1);

  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  height: 660px;
  width: 100%;
  z-index: -1;
}

section#banner {
  margin-top: 2.75em;
  text-align: center;
  color: var(--white);
}

section#banner h1 {
  font-size: var(--header-size);
  font-weight: var(--header-weight);
  line-height: 48px;
  margin: 16px 0em 8px;
}

section#banner p {
  margin-bottom: 40px;
  line-height: 28px;
}

/* TAKECHARGE Section */
section#takecharge {
  position: absolute;
  top: 240px;
  width: var(--container-width);
  display: grid;
  grid-template-columns: 65% auto;
  grid-column-gap: 50px;
}

section#takecharge .card-banner {
  position: relative;
  background-image: url('https://images.ctfassets.net/2y9b3o528xhq/5SEloohGz6Qeok04SEQS4s/88b1dfff4e38395b6375fc7e725a9985/BG-desktop.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 480px;
  text-align: center;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}

section#takecharge .card-banner .card-banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

section#takecharge .card-banner .card-banner-content h6 {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

section#takecharge .card-banner .card-banner-content img {
  margin-bottom: 8px;
}

section#takecharge .card-banner .card-banner-content h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  margin-bottom: 12px;
}

section#takecharge .card-banner .card-banner-content p {
  margin-bottom: 24px;
}

section#takecharge .card-banner .card-banner-content button {
  color: var(--btn-text);
  height: var(--btn-height);
  width: var(--btn-weight);
  font-weight: var(--btn-weight);
  border-radius: var(--btn-radius);
  box-shadow: var(--btn-shadow);
  background-color: var(--white);
  padding: 0px 8px;
  border: none;
  cursor: pointer;
}

section#takecharge .card-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
}

section#takecharge .card-container .card {
  background-color: var(--white);
  line-height: var(--card-line-height);
  font-size: var(--card-font-size);
  box-shadow: var(--card-shadow);
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

section#takecharge .card-container .card:hover {
  box-shadow: var(--card-hover-shadow);
}

section#takecharge .card-container .card .card-image {
  width: 100%;
  text-align: center;
  margin: auto;
}

section#takecharge .card-container .card .card-image img {
  width: 80%;
  height: 80%;
}

section#takecharge .card-container .card .card-content {
  padding: 20px;
}

section#takecharge .card-container .card .card-content p:first-of-type {
  font-weight: 600;
  margin-bottom: 6px;
}

section#takecharge .card-container .card .card-content p:last-of-type {
  font-size: 13px;
}

/* Main section */
main#course {
  position: relative;
}

main#course #course-intro {
  width: 90%;
  margin: auto;
}

main#course #course-intro h1 {
  margin-top: 100px;
  line-height: 36px;
  text-align: center;
  font-weight: var(--light-weight);
}

main#course #course-intro div#course-intro-list {
  text-align: center;
  margin: 16px auto;
}

main#course #course-intro #course-intro-list button {
  border: 1px solid var(--intro-btn-bg-color);
  background-color: var(--white);
  color: var(--intro-btn-bg-color);
  font-weight: var(--dark-weight);
  font-size: 10.4px;
  height: 36px;
  margin: 8px;
  padding: 0px 8px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}
main#course #course-intro #course-intro-list button:first-of-type {
  background-color: var(--intro-btn-bg-color);
  color: var(--white);
}

main#course .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
}

main#course .card-container .card {
  position: relative;
  cursor: pointer;
  background-color: var(--white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

main#course .card-container .card .card-image {
  position: relative;
  height: 108px;
  width: 100%;
}

main#course .card-container .card .card-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

main#course .card-container .card:nth-child(1) .card-image::before {
  background-color: var(--card-1-overlay);
}

main#course .card-container .card:nth-child(2) .card-image::before {
  background-color: var(--card-2-overlay);
}

main#course .card-container .card:nth-child(3) .card-image::before {
  background-color: var(--card-3-overlay);
}

main#course .card-container .card:nth-child(4) .card-image::before {
  background-color: var(--card-4-overlay);
}

main#course .card-container .card:nth-child(5) .card-image::before {
  background-color: var(--card-5-overlay);
}

main#course .card-container .card:nth-child(6) .card-image::before {
  background-color: var(--card-6-overlay);
}

main#course .card-container .card:nth-child(7) .card-image::before {
  background-color: var(--card-7-overlay);
}

main#course .card-container .card:nth-child(8) .card-image::before {
  background-color: var(--card-8-overlay);
}

main#course .card-container .card .card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

main#course .card-container .card .card-content {
  width: 80%;
  margin: 20px auto;
}

main#course .card-container .card .card-content .card-title,
main#course .card-container .card .card-content .card-body {
  padding: 17px 0px;
}

main#course .card-container .card .card-content .card-title p {
  color: var(--course-level-color);
  font-size: var(--course-level-size);
  font-weight: var(--dark-weight);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main#course .card-container .card .card-content .card-title h4 {
  font-weight: var(--light-weight);
  font-size: var(--course-title-size);
  line-height: 36px;
  margin-top: 12px;
}

main#course .card-container .card .card-content .card-body h6 {
  color: var(--course-affiliates-color);
  font-size: var(--course-affiliates-size);
  font-weight: var(--dark-weight);
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

main#course .card-container .card .card-content .card-body ul {
  list-style-type: none;
  overflow: hidden;
}

main#course .card-container .card .card-content .card-body ul li {
  display: inline-block;
  margin-right: 20px;
}

main#course .card-container .card .card-content .card-body ul li img {
  height: 34px;
}

/* Referral Section */
section#referral .wrapper {
  background-image: url('https://in.udacity.com/assets/iridium/images/referrals/shared/referral-banner@2x.png');
  background-size: 880px;
}

/* Advantage Section */
#advantage .title {
  font-weight: var(--light-weight);
  font-size: 36px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

#advantage .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 200px;
  grid-gap: 110px;
}

#advantage .wrapper .content .icon {
  position: relative;
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--white);
  border-radius: var(--icon-radius);
  box-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 24px;
}

#advantage .wrapper .content h3 {
  font-weight: var(--light-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  margin-bottom: 12px;
}

#advantage .wrapper .content h3 span {
  display: block;
}

#advantage .wrapper .content p {
  font-size: 14px;
  /* text-align: justify; */
}

#advantage .wrapper .image {
  position: relative;
}

#advantage .wrapper:nth-child(even) .image img:first-child {
  position: absolute;
  top: 0%;
  right: 0%;
  box-shadow: var(--shadow);
  width: 336px;
  height: 225px;
}

#advantage .wrapper:nth-child(even) .image img:last-child {
  position: absolute;
  top: 150px;
  left: 0%;
  box-shadow: var(--shadow);
  width: 330px;
  height: 200px;
  z-index: 2;
}

#advantage .wrapper:nth-child(odd) .image img:first-child {
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: var(--shadow);
  width: 336px;
  height: 225px;
}

#advantage .wrapper:nth-child(odd) .image img:last-child {
  position: absolute;
  top: 150px;
  right: 0%;
  box-shadow: var(--shadow);
  width: 330px;
  height: 200px;
  z-index: 2;
}

/* Career section */
section#career .wrapper {
  background-image: url('https://in.udacity.com/assets/iridium/images/learning-path/widget-background@2x.png');
  background-size: 554px;
  color: var(--white);
}

/* feed */
#feed h6 {
  font-weight: var(--dark-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

#feed .slide .slide-wrapper {
  position: relative;
  display: flex;
}

#feed .slide .slide-wrapper .left,
#feed .slide .slide-wrapper .right {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

#feed .slide .slide-wrapper .content {
  width: 80%;
  margin: auto;
}

#feed .slide .slide-wrapper .content .item h4 {
  text-align: center;
  font-style: var(--italic);
  font-weight: var(--light-weight);
  line-height: var(--h4-line-height);
  font-size: 24px;
}

#feed .testominals {
  display: block;
  text-align: center;
  margin-top: 20px;
}

#feed .testominals img {
  text-align: center;
}

/* Download */
section#download .wrapper {
  background-image: url('https://in.udacity.com/assets/iridium/images/shared/download-app-banner/phone.png');
  background-size: 554px;
  color: var(--white);
}

section#download .wrapper.container .content button {
  padding: 0;
  position: relative;
}

section#download .wrapper .content button img {
  width: var(--btn-width);
  height: var(--btn-height);
}
