@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

:root {
  --font-family: 'Open Sans', sans-serif;
  --font-size: 16px;
  --body-color: #525c65;
  --white: #fff;
  --line-height: 1.5rem;
  --container-width: 62%;
  --height: 100%;
  --width: 100%;
  --clip-path: polygon(0 0, 100% 0%, 100% 150px, 0% 100%);
  --light-weight: 300;
  --dark-weight: 600;
  --border-radius: 4px;
}

header {
  --color: rgb(255, 255, 255);
  --hover-color: rgba(255, 255, 255, 0.8);
  --font-size: 14px;
  --header-size: 32px;
  --header-weight: 300;
  --btn-color: rgb(2, 208, 190);
  --btn-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  --btn-border-radius: 4px;
  --btn-hover-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}

section#takecharge {
  --h6-size: 13px;
  --h6-weight: 600;
  --h2-size: 32px;
  --h2-weight: 300;
  --h2-line-height: 36px;
  --btn-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  --btn-text: rgb(2, 179, 228);
  --btn-radius: 4px;
  --btn-weight: 600;
  --btn-height: 48px;
  --btn-weight: 280px;
  --card-line-height: 24px;
  --card-font-size: 16px;
  --card-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  --card-hover-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}

main {
  --intro-btn-bg-color: rgb(2, 179, 228);
  --card-border-radius: 6px;
  --card-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  --card-1-overlay: rgba(2, 179, 228, 0.8);
  --card-2-overlay: rgba(2, 204, 186, 0.8);
  --card-3-overlay: rgba(169, 81, 237, 0.8);
  --card-4-overlay: rgba(125, 151, 173, 0.8);
  --card-5-overlay: rgba(255, 162, 52, 0.8);
  --card-6-overlay: rgba(255, 84, 131, 1);
  --card-7-overlay: rgba(2, 204, 186, 0.8);
  --card-8-overlay: rgba(169, 81, 237, 0.8);
  --course-level-size: 11px;
  --course-level-color: rgb(2, 179, 228);
  --course-title-size: 20px;
  --course-affiliates-size: 13px;
  --course-affiliates-color: rgb(125, 151, 173);
}

section#referral {
  --linear-gradient: linear-gradient(to right, #f89d89, #ffd297);
  --color: rgb(167, 57, 200);
  --font-size: 19px;
  --line-height: 28px;
  --btn-width: 220px;
  --btn-height: 48px;
  --btn-line-height: 42px;
  --light-weight: 400;
}
